.championship-element {
  border-radius: 6px;
  padding: 1rem;
  background: $championship-box;
  box-shadow: 0px 0px 5px 0px #0000006b;

  h1 {
    color: #fff;
    padding-bottom: 1rem;
  }

  .form-button {
    margin-bottom: 0;
  }

  .off-btn {
    background: $red;
  }

  .on-btn {
    background: $green;
  }
}
