.card {
  background: $bg;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 5px 0px #0000006b;

  &.alert-bg {
    background: linear-gradient(to right bottom, #730d0dd1, #650707d0);
  }
}

.card-icon {
  text-align: center;
  display: grid;
  place-items: center;
}

.card-icon i {
  height: 55px;
  width: 55px;
  font-size: 4rem;
  color: #fff;
  border-radius: 6px;
  display: grid;
  place-items: center;
}

.background i {
  color: $main;
}

.card-info {
  text-align: right;
  margin-top: 0.6rem;
}

.card-info h2 {
  margin-bottom: 0;
  font-size: 3rem;
  color: #fefefe;
}

.card-info small {
  display: inline-block;
  color: $main;
  font-weight: 500;
  position: relative;
  top: -15px;
}
