.card {
  background: $bg;
  padding: 2rem 1rem;
  border-radius: 3px;
}

.card-icon {
  text-align: center;
  display: grid;
  place-items: center;
}

.card-icon i {
  height: 55px;
  width: 55px;
  font-size: 2rem;
  color: #fff;
  border-radius: 6px;
  display: grid;
  place-items: center;
}

.background1 i {
  color: #0072f2;
  background: #e5f3fe;
}

.background2 i {
  color: #f42a26;
  background: #fde9ea;
}

.background3 i {
  color: #ffbc01;
  background: #fff8e5;
}

.card-info {
  text-align: center;
  margin-top: 0.6rem;
}

.card-info h2 {
  font-size: 3rem;
  color: #fefefe;
}

.card-info small {
  display: inline-block;
  color: $main;
  font-weight: 500;
}
