.champions-page {
  padding-top: 1rem;
  .page-header {
    display: flex;
    justify-content: flex-end;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1rem;
  }
}
