@import '../mixins/media.scss';

.bet-game-layout {
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;

    @include screen(mobile) {
      padding: 0 15px;
    }
  }

  .content {
    padding: 0 50px;
    margin-top: 64px;
    background-color: $background;

    .content-wrapper {
      padding: 15px 24px;
      min-height: 380px;
      max-width: $layout_maxwidht;
      margin: 0 auto;

      @include screen(smallmonitor) {
        padding: 24px 10px;
      }
    }

    @include screen(smallmonitor) {
      padding: 0 10px;
    }
  }

  .footer {
    text-align: center;
    background-color: $footer_background;
    color: white;
  }
}
