.log-page {
  padding-top: 1rem;
  h1 {
    color: #fff;
  }
  .log-header {
    display: flex;
    justify-content: space-between;
  }
  .log-main {
  }
  .log-pagination {
    padding: 1rem;
    text-align: center;
  }
}
