.mf-match-page {
  .site-page-header {
    .ant-page-header-back-button {
      color: #fff;
    }
  }
  color: white;
  .form-wrapper {
    .match-title {
      display: flex;
      justify-content: center;
      font-size: 1.4em;
      margin-bottom: 40px;
      .box {
        background-color: #06060629;
        padding: 5px;
        border-radius: 50px 0 50px 0;
        width: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
        .goal-wrapper {
          background: #1b2d3c;
          padding: 0rem 0.67rem;
          border-radius: 6px;
          span {
            padding-left: 0.2rem;
            padding-right: 0.2rem;
          }
        }
      }
      .flag {
        margin-left: 20px;
        margin-right: 20px;

        @include screen(mobile) {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      @include screen(tablet) {
        font-size: 1rem;
      }
    }
    .match-editor {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
