.mf-matches {
  display: flex;
  flex-direction: column;
  .latest-matches {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .empty-latest-matches {
      text-align: center;
      color: #776767;
      padding: 2rem 0rem;
      span {
        font-size: 2rem;
      }
    }
  }
  .header-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sorter {
      .sortbtn {
        background-color: #2d4369;
        color: white;
        border: 1px solid #00000052;
      }
    }
  }
  .mf-title {
    color: #fdeeee;
  }
  .listitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #0000006b;
    background-color: $status_offline;

    &.offline {
      background-color: $status_offline;
    }

    &.online {
      background-color: $status_online;
    }

    &.playing {
      background-color: $status_playing;
    }

    &.close {
      background-color: $status_close;
    }

    & > div {
      max-height: 25px;
    }
    .teams {
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
      top: -10px;

      div:nth-child(1) {
        font-size: 1.3em;
      }
      div:nth-child(2) {
        font-size: 0.7em;
      }
      .flag {
        margin-left: 10px;
        margin-right: 10px;
      }

      @include screen(tablet) {
        width: 100%;
        justify-content: center;
      }
    }
    .odds {
      width: 25%;
      text-align: center;
      span {
        margin-right: 5px;
        width: 35px;
        padding: 4px;
        height: 25px;
        background: #2e3135;
        display: inline-block;
        border-radius: 5px;
        font-weight: 700;
        font-size: 12px;
      }
      @include screen(tablet) {
        width: 100%;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
    .status {
      width: 10%;
      text-align: center;
      span {
        border-radius: 5px;
      }
      @include screen(tablet) {
        width: 100%;
        text-align: center;
      }
    }
    .actions {
      width: 10%;
      text-align: right;
      span {
        &:first-child {
          margin-right: 10px;
        }
        font-size: 1rem;
        cursor: pointer;
      }

      @include screen(tablet) {
        width: 100%;
        text-align: right;
      }
    }

    @include screen(tablet) {
      flex-direction: column;
    }
  }
}

.selected-sort {
  background: $main;
}
