$breakpoints_xxs: 380px;
$breakpoints_xs: 480px;
$breakpoints_sm: 576px;
$breakpoints_md: 768px;
$breakpoints_lg: 992px;
$breakpoints_xl: 1200px;
$breakpoints_xxl: 1600px;

$background: #14375d;
$layout_maxwidht: 1400px;
$footer_background: #233d65;

$login_panelbg_2: #243b55;
$login_panelbg_1: #141e30;

$status_offline: #232529;
$status_online: #838a80;
$status_playing: #838a80;
$status_close: #838a80;
