$breakpoints_xxs: 380px;
$breakpoints_xs: 480px;
$breakpoints_sm: 576px;
$breakpoints_md: 768px;
$breakpoints_lg: 992px;
$breakpoints_xl: 1200px;
$breakpoints_xxl: 1600px;

$background: #14375d;
$main: orange;
$main-hover: #f7b63f;
$bg: #0b1218;
$bg-body: #131d28;
$sidebar-width: 230px;
$sidebar-mobile-width: 65px;
$header-height: 70px;
$layout_maxwidht: 1400px;
$footer_background: #233d65;

$red: #ff1818;
$green: #477d26;

$login_panelbg_2: #243b55;
$login_panelbg_1: #141e30;

$status_offline: #322d52;
$status_online: #15222d;
$status_playing: #651410;
$status_close: #3b5639;

$group-box: #15222d;
$team-box: #15222d;
$championship-box: #15222d;
$team-card-max-width: 250px;

$user-card-max-width: 220px;

$log-error-bg: #651410;
$log-info-bg: #2634446e;
$log-warning-bg: #ffc10759;
