$breakpoints_xxs: 380px;
$breakpoints_xs: 480px;
$breakpoints_sm: 576px;
$breakpoints_md: 768px;
$breakpoints_lg: 992px;
$breakpoints_xl: 1200px;
$breakpoints_xxl: 1600px;

$login_panelbg_2: #243b55;
$login_panelbg_1: #141e30;
