.ant-input-number-sm input {
  text-align: center;
}

.ant-form-item-label > label {
  color: #fff;
}

.ant-input {
  color: #efefef;
  background-color: #131d28;
  border: 1px solid #737272;
  border-radius: 6px;
}
